@charset "UTF-8";

/* nav styles */

body {
font-family: Arial,Verdana,'Times New Roman', Times, serif;
text-align: center;
font-weight: bold;
margin: 0;
width: 100vw;
height: 100vw;
}
div {
  width: 100vw;
  height: 100vh;

}
.wrapper{
  width:100%;
}
h1{
  padding: 30px 30px 20px;
  font-family: Arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}
.btn{
  width: 100%;
}
.btnactive{
  width: 100%;
}
p{
  padding: 0px 30px 20px;
  font-family: Arial;
  font-size: 25px;
  color: #111;
  line-height: 44px;
}
.container{
width:100%;

}