@charset "UTF-8";

/* nav styles */

body {
font-family: Arial,Verdana,'Times New Roman', Times, serif;
text-align: center;
font-weight: bold;
margin: 0;
width: 100vw;
height: 100vw;
background: var(--primary-color);
background: var(--secondary-color);
}
img{
  width: 100vw;
  height: 100vh;
}
div {
  width: 100vw;
  height: 100vh;

}
#icon{
  width: 15px;
  cursor: pointer;
}
:root{
  --primary-color:#edf2fc;
  --secondary-color:#212121;
}
.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
}
.wrapper{
  width:100%;
}
h1{
  padding: 30px 30px 20px;
  font-family: Arial;
  font-size: 50px;
  color:var(--primary-color);
  color: var(--secondary-color); 
  line-height: 44px;
}
h2{
  padding: 30px 30px 20px;
  font-family: Arial;
  font-size: 50px;
  color:var(--primary-color);
  color: var(--secondary-color); 
  line-height: 44px;
}
.btn{
  width: 100%;
}
.btnactive{
  width: 100%;
}
p{
  padding: 0px 30px 20px;
  font-family: Arial;
  font-size: 25px;
  color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 44px;
}
.container{
width:100%;

}
div{
  color: var(--primary-color);
  color:var(--secondary-color);
}
button{
  color: var(--primary-color);
  color: var(--secondary-color);
}
