@charset "UTF-8";
/* nav styles */
head{
  background-color: var(--secondary-color);
}
body{
  background-color: var(--secondary-color);
}
nav {
  font-family: Verdana, Arial, serif;
  color: var(--secondary-color);
  background-color: var(--secondary-color);
}
ul{
  list-style-type: none;
}
img{
  max-width:100%;
  height:auto;
}
#icon{
  width: 30px;
  cursor: pointer;
}
:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}
.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
}

.switch li {
    position: absolute;
    left: -14rem;
    top: 0;
    margin: 0.75rem;
  }
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
     
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    color: var(--secondary-color);
  }
  
  .slider.round:before {
    border-radius: 50%;
    color: var(--secondary-color);
  }
  
  .slider::after {
    position:relative;
    right:-55px;
  
    
  }
  ul{
    color: var(--primary-color);
  }
  a{
    color: var(--primary-color);
  }
  li a {
    display: block;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--primary-color);
  }
  body {
    font-family: Arial;
    color: var(--primary-color);
  }
  
  .split {
    height: 100%;
    width: 65%;
    position: fixed;
    z-index: 1;
    top: 100px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: tomato;
  }
  
  .right {
    right: 0;
    background-color: var(--primary-color);
  }
  
  .centeredL{
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centeredR{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: x-large;
  }
  .header {
    background-color: var(--primary-color);
    height: 100px;
    }
  .mycss {
    color: green;
    border: 1px solid var(--secondary-color);
    background: var(--primary-color);
    padding: 10px;
    }
  .border {
    border-width: 3px;
    border-style: solid;
    border-color: #287EC7;
    }
  
